<launch>
  <arg name="display_graph" default="true" />
  <arg name="launch_prefix" default="" />
  <include file="$(find pddl_planner)/launch/pddl_ffha.launch" />
  <node pkg="pddl_planner" name="hanoi"
        launch-prefix="$(arg launch_prefix)"
        type="solve-hanoi.l" >
    <param name="display_graph" value="$(arg display_graph)" />
  </node>
</launch>
