language: generic
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
services:
  - docker
env:
  global:
    - USE_DOCKER=true
  matrix:
    - ROS_DISTRO=hydro   USE_DEB=false
    - ROS_DISTRO=indigo  USE_DEB=true
    - ROS_DISTRO=jade    USE_DEB=true
    - ROS_DISTRO=kinetic USE_DEB=true
matrix:
  fast_finish: true
  allow_failures:
    - env: ROS_DISTRO=hydro   USE_DEB=false
script: source .travis/travis.sh
