<launch>
  <node pkg="pddl_planner"
        type="pddl.py"
        name="pddl_planner"
        output="screen">
    <param name="pddl_planner"
           value="ffha" />
    <param name="pddl_search_option"
           value="-i 120" />
    <!--for printing debug message : default value is -g 1 -h 5, change these value if ffha does not returns -->
    <!-- param name="pddl_search_option"
           value="-g 1 -h 5 -H -E -i 120 " / -->
  </node>
</launch>
