<launch>
  <node pkg="pddl_planner"
        type="pddl.py"
        name="pddl_planner"
        output="screen">
    <param name="pddl_planner_path"
           value="$(find downward)/downward/src/plan" />
    <param name="pddl_search_option"
           value="ipc seq-sat-lama-2011" />
  </node>
</launch>
